body {
  font-family: "Gill Sans", sans-serif;
  color: SaddleBrown;
  background-color: Beige;
  }
 
.title {
  font-size: 40px;
  text-align: center;
}

.recipes, .content {
  font-size: 20px;
  background-color: PeachPuff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  height: auto;
  display: block;
  border: 5px solid SaddleBrown;
  border-radius: 25px;
}




